@use "variables";
.edit-profile {
  border: 1px solid;
  border-radius: 10px;
  margin: 2vh 0;

  h1 {
    text-align: center;
    padding: 16px;
  }

  .edit-profile-wrapper {
    width: 60%;
    margin: 0 auto;
    label,
    input,
    textarea {
      width: 100%;
    }
    input,
    button,
    textarea {
      color: variables.$secondary-text;
      margin-bottom: 1vh;
    }
    input[type="file"] {
      color: variables.$primary-text;
    }
    button {
      width: 40%;
      margin-left: 30%;
    }
  }
}
