@use "variables";

.search {
  form {
    h2 {
      text-align: center;
      margin-top: 4vw;
    }
    .search-form {
      width: 500px;
      margin: 0 auto;
      margin-top: 1vw;
      padding-top: 1vw;
      border: 1px solid variables.$primary-text;
      div { 
        width: 80%;
        margin: 0 auto;
        margin-top: 1vw;
        label,
        input {
          display: block;
          width: 100%;
        }
        input{
          color: variables.$secondary-text;
        }
      }
      button{
        display: block;
        margin: 1vw auto;
        padding: 5px 16px;
        background-color: variables.$primary;
        border: 1px solid variables.$primary-text;
        cursor: pointer;
        &:hover{
          color:  variables.$secondary;
        }
      }
    }
  }
}
