@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: white;
}

.main-container {
  min-height: 100vh;
  background-color: #14213D;
  position: relative;
}

button {
  cursor: pointer;
}

nav ul {
  display: flex;
  justify-content: space-around;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 5vw;
}
nav ul .left, nav ul .right, nav ul .user-logged-in {
  display: flex;
}
nav ul .left li, nav ul .right li, nav ul .user-logged-in li {
  display: block;
  padding: 10px 16px;
}
nav ul .left li :hover, nav ul .right li :hover, nav ul .user-logged-in li :hover {
  color: #FCA311;
}

.about {
  border: 1px solid white;
  border-radius: 10px;
  max-width: 750px;
  margin: 5vh auto;
  height: 70vh;
  padding: 0 3vh;
}
.about h1 {
  margin-top: 20px;
  padding: 20px;
  text-align: center;
}
.about p {
  margin-top: 30px;
  text-align: justify;
}

.get-in-touch {
  width: 650px;
  margin: 0 auto;
  height: 75vh;
}
.get-in-touch h2 {
  margin-top: 2vh;
  text-align: center;
  padding: 20px 0;
}
.get-in-touch .email,
.get-in-touch .message,
.get-in-touch button,
.get-in-touch .name,
.get-in-touch .subject {
  width: 100%;
  font-size: clamp(0.5rem, 1.2vw, 1.3rem);
  margin-bottom: 1vw;
  padding-left: 10px;
}
.get-in-touch .input-wrapper {
  display: flex;
  justify-content: space-between;
}
.get-in-touch .input-wrapper div {
  width: 45%;
}
.get-in-touch .message {
  height: 200px;
}
.get-in-touch .consent-wrapper {
  text-align: center;
  margin-bottom: 2vw;
}
.get-in-touch .consent-wrapper input {
  width: max(0.8vw, 12px);
  height: max(0.8vw, 12px);
}
.get-in-touch button {
  display: block;
  padding: 10px;
  background-color: #14213D;
  border: 1px solid white;
  border-radius: 10px;
}
.get-in-touch .get-in-touch button:hover {
  cursor: pointer;
  color: var(--secondary-color);
}

.search form h2 {
  text-align: center;
  margin-top: 4vw;
}
.search form .search-form {
  width: 500px;
  margin: 0 auto;
  margin-top: 1vw;
  padding-top: 1vw;
  border: 1px solid white;
  border-radius: 10px;
}
.search form .search-form div {
  width: 80%;
  margin: 0 auto;
  margin-top: 1vw;
}
.search form .search-form div label,
.search form .search-form div input {
  display: block;
  width: 100%;
}
.search form .search-form div input {
  color: black;
}
.search form .search-form button {
  display: block;
  margin: 1vw auto;
  padding: 5px 16px;
  background-color: #14213D;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
}
.search form .search-form button:hover {
  color: #FCA311;
}

.events {
  max-width: 1200px;
  margin: 0 auto;
}
.events h2 {
  text-align: center;
  padding: 1vw 0;
  margin-top: 3vw;
}
.events .event {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2%;
}
.events .event .event-wrapper {
  display: block;
  width: 100%;
  margin-top: 1vw;
  border: 1px solid white;
  border-radius: 10px;
}
.events .event .event-wrapper .name {
  padding: 0.5vw 1vw;
}
.events .event .event-wrapper p {
  padding: 0vw 1vw;
}
.events .event .event-wrapper .end-date {
  margin-bottom: 10px;
}
.events .event .event-wrapper .event-image {
  margin-bottom: 20px;
  width: 100%;
  display: block;
  height: 20vh;
}

.current-event {
  max-width: 600px;
  margin: 0 auto;
}
.current-event .current-event-wrapper {
  border: 1px solid white;
  border-radius: 10px;
}
.current-event .current-event-wrapper p, .current-event .current-event-wrapper h2, .current-event .current-event-wrapper h3, .current-event .current-event-wrapper span {
  padding-left: 2vh;
}
.current-event .current-event-wrapper .event-image {
  width: 100%;
}
.current-event .current-event-wrapper .sport-wrapper {
  display: flex;
}
.current-event .current-event-wrapper .sport-wrapper p,
.current-event .current-event-wrapper .sport-wrapper h3 {
  width: 34%;
}
.current-event .current-event-wrapper .dates span {
  margin-right: 5vh;
}

.create-review {
  border: 1px solid white;
  border-radius: 10px;
  margin: 2vh 0;
}
.create-review h1 {
  text-align: center;
  padding: 16px;
}
.create-review .create-review-wrapper {
  width: 60%;
  margin: 0 auto;
}
.create-review .create-review-wrapper label, .create-review .create-review-wrapper input, .create-review .create-review-wrapper textarea {
  width: 100%;
}
.create-review .create-review-wrapper input, .create-review .create-review-wrapper button, .create-review .create-review-wrapper textarea {
  color: black;
  margin-bottom: 1vh;
}
.create-review .create-review-wrapper button {
  width: 40%;
  margin-left: 30%;
}

.profile-link {
  margin: 3vh auto;
  border: 1px solid white;
  border-radius: 10px;
  padding: 0.5vh 3vh;
}
.profile-link a {
  display: flex;
}
.profile-link a .event-image {
  width: 110px;
  border-radius: 50%;
}
.profile-link a h2 {
  padding: 2.5vh;
}

.display-review {
  border: 1px solid white;
  border-radius: 10px;
  padding: 2vh;
}
.display-review li {
  padding: 10px;
}

.contact-host {
  margin-top: 2vh;
  border: 1px solid white;
  border-radius: 10px;
}
.contact-host h1 {
  text-align: center;
  padding: 16px;
}
.contact-host button {
  background-color: #14213D;
  border: 1px solid white;
  padding: 5px;
  margin-bottom: 2vh;
  border-radius: 5px;
  width: 30%;
  margin-left: 35%;
}

.not-found {
  width: 50%;
  margin: 0 auto;
  padding-top: 40vh;
}
.not-found h1 {
  text-align: center;
}

.create-event {
  width: 40rem;
  margin: 0 auto;
}
.create-event form {
  display: flex;
  flex-direction: column;
}
.create-event h1 {
  margin-top: 2vh;
  text-align: center;
  padding: 20px 0;
}
.create-event input,
.create-event textarea {
  color: black;
  width: 100%;
  font-size: clamp(0.5rem, 1.2vw, 1.3rem);
  margin-bottom: 1vw;
  padding-left: 10px;
  resize: none;
}
.create-event input[type=file] {
  color: white;
}
.create-event .input-wrapper {
  display: flex;
  justify-content: space-between;
}
.create-event .date-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}
.create-event .date-wrapper div {
  display: flex;
  width: 50%;
}
.create-event .date-wrapper div input {
  width: 45%;
}
.create-event .date-wrapper div label {
  width: 30%;
}
.create-event button {
  display: block;
  padding: 10px;
  background-color: #14213D;
  border: 1px solid white;
}

.edit-profile {
  border: 1px solid;
  border-radius: 10px;
  margin: 2vh 0;
}
.edit-profile h1 {
  text-align: center;
  padding: 16px;
}
.edit-profile .edit-profile-wrapper {
  width: 60%;
  margin: 0 auto;
}
.edit-profile .edit-profile-wrapper label,
.edit-profile .edit-profile-wrapper input,
.edit-profile .edit-profile-wrapper textarea {
  width: 100%;
}
.edit-profile .edit-profile-wrapper input,
.edit-profile .edit-profile-wrapper button,
.edit-profile .edit-profile-wrapper textarea {
  color: white;
  margin-bottom: 1vh;
}
.edit-profile .edit-profile-wrapper button {
  width: 40%;
  margin-left: 30%;
}

.display-profile {
  max-width: 800px;
  margin: 0 auto;
}
.display-profile .display-profile-wrapper {
  border: 1px solid white;
  border-radius: 10px;
  padding: 2vh 10px;
}

footer {
  width: 100%;
  padding: 30px 0;
  text-align: center;
}
